# База данных
# Все параметры подключения к PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_USER=administrator
DB_PASSWORD=secure_password
DB_NAME=asteroid_watch_db

# Путь к файлу конфигурации (опционально)
CONFIG_PATH=./config.yaml
