# Основные зависимости проекта
astroquery==0.4.11 # Библиотека для запросов к астрономическим данным[citation:3]
skyfield>=1.46 # Библиотека для расчёта эфемерид
fastapi==0.104.1           # Веб-фреймворк для создания API
uvicorn[standard]==0.24.0  # ASGI-сервер для запуска FastAPI
aiohttp==3.13.2 # для асинхронных запросов к внешним источникам

# Работа с базой данных и ORM
sqlalchemy==2.0.23         # ORM с поддержкой асинхронности[citation:4]
asyncpg==0.29.0            # Асинхронный драйвер для PostgreSQL[citation:9]
alembic==1.13.1            # Инструмент для миграций базы данных
greenlet==3.0.3            # Необходим для работы async в SQLAlchemy

# Вспомогательные библиотеки
python-decouple==3.8       # Работа с переменными окружения из .env
pydantic==2.5.0            # Валидация данных и настройки
pydantic-settings==2.1.0   # Управление настройками для Pydantic
python-multipart==0.0.6    # Для загрузки файлов через FastAPI

# Для математических вычислений (уже используются в utils)
numpy==1.26.2
astropy==5.3.4

# Для тестов
pytest==7.4.0
pytest-asyncio==0.21.0
pytest-cov==4.1.0
pytest-mock==3.11.1
pytest-xdist==3.3.1
coverage==7.2.7